.eph-container .eph-dropdown{
    display: flex;
    margin: 6em 10em 1px 10em;
    justify-content: center;
    align-items: center;   
}
.eph-container .eph-dropdown #category{
    display: flex;
    margin: 3px 10em 1px 10em;
    justify-content: right;
    align-items: right;   
}
.eph-container .eph-header{
    margin: 1px 10em 1px 10em;
    height: 30vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;   
}
.chart{
    height: 40vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 100px;   
}
.lead-header{
    height: 10vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;   
}
.chart{
    /*height: 60vh; /* Magic here */
    /*display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 100px;*/   

    height: 60vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    z-index: 0;
}
/*left column styles*/
.health-outcomes-container {
    display: flex;
}
h2 {
    padding-top: 30px;
}
.container-column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: lightblue;
}
.container-column:first-child {
    flex: 0.5;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: #007bff;
}
.close-button-left {
    color: darkblue;
    border: none;
    padding-top: 100px;
    font-size: 20px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
  }
  .close-button:hover {
    background: #ff3333;
  }



  .graph-container {
    /*position: relative;
    background: #fff;
    min-height: 100vh;
    padding: 0;
    margin-top: 200px;*/

    position: absolute;
    right: 0;
    top: 200px;
    width: calc(50% - 10em);
    
    z-index: 1;
    padding: 0;
  }
  
  .graph-container .selector {
    z-index: 100;
  }
  
  .graph-container .selector ul {
    text-align: center;
    border-radius: 5px;
  }
  
  .graph-container .selector li {
    display: inline-block;
    cursor: pointer;
    background: #efefef;
    color: #444;
    border: 1px solid #e2e2e2;
    padding: 14px 45px;
  }
  
  .graph-container .selector li:first-child {
    border-radius: 7px 0 0 7px;
  }
  
  .graph-container .selector li:last-child {
    border-radius: 0 7px 7px 0;
  }
  
  .graph-container .selector li.active {
    background: #fff;
    font-weight: 600;
  }
  
  .graph-container > .content {
    min-width: 1000px;
    max-width: 50vw;
    overflow-x: visible;
    margin: 0 auto;
  }
  
  .graph-container .graphs {
    width: 100%;
  }
  
  .graph-container .graph {
    position: relative;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 40px;
    width: 100%;
    border-radius: 25px;
  }
  
  .graph-container .dropdown-icon {
    position: absolute;
    top: 10px;
    right: 0;
    margin-right: 20px;
  }
  
  .graph-container .dropdown-icon.active {
    transform: rotate(180deg);
    transform-origin: 60% 50%;
  }
  
  .graph-container .top-ten {
    position: relative;
  }
  
  .graph-container .filter-container .control-container {
    display: block;
  }
  
