

.eph-container .eph-dropdown{
    display: flex;
    margin: 6em 10em 1px 10em;
    justify-content: center;
    align-items: center;   
}
.eph-container .eph-dropdown #category{
    display: flex;
    margin: 3px 10em 1px 10em;
    justify-content: right;
    align-items: right;   
}
.eph-container .eph-header{
    margin: 1px 10em 1px 10em;
    height: 30vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
.chart{
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 100px;   
}
.health-outcomes-container h1{
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.chart{
    height: 60vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    z-index: 0;
}
/*left column styles*/
.health-outcomes-container h2 {
  padding-top: 1px;
  
}
.health-outcomes-container li {
  padding-top: 2px;
}

.health-outcomes-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.health-outcomes-container h2 {
    padding-top: 100px;
}
.container-column {
    flex: 1;
    padding: 20px 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #E6E6FA;
}
.container-column:first-child {
    flex: 0.5;
}
.health-outcomes-container ul {
    list-style: none;
    padding: 0;
}
.health-outcomes-container li {
  text-align: left;
  text-indent: 1px;
  padding-bottom: 10px;
}
.health-outcomes-container a {
    text-decoration: none;
    color: #333;
}
.health-outcomes-container a:hover {
    color: #007bff;
}
.close-button-left {
    color: darkblue;
    border: none;
    padding-top: 100px;
    font-size: 20px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
  }
  .close-button:hover {
    background: #ff3333;
  }

  /*Responsive styles written by Al-Taimee for national-container*/
  .national-container {
    width: 400px;
    height: 400px;
    
  }

  @media (min-width: 469px) {
    .national-container {
      height: auto;
      width: auto;
      display: block;
    }
    
  }

@media (max-width: 2880px) {
  .national-container {
    width: 100%; 
    max-width: 100%; 
    position: static; 
  }
}

.national-container .measure-title {
  position: absolute;
  text-align: center;
  top: 3em;
  left: 16em;
}

.description {
  position: fixed;
  left: 25%;
  top: 70%;
  padding-top: 2em;
}

.description-content {
  position: relative;
  margin-bottom: 3em;
  padding: 2em 30em 2em 2em;
  max-width: 45em;
  max-height: 2em;
  border: solid;
  border-radius: 1em;
  background-color: #CBC3E3;
  color: #800080;
}

.timeseries {
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}