/* Amrita - Added to fix spacing between sidebar and EPH content */
.eph-national-container {
  width: 80%;
  float: right;
  padding: 20px;
  margin-left: 100px;
}

.eph-container .eph-dropdown{
    display: flex;
    margin: 6em 10em 1px 10em;
    justify-content: center;
    align-items: center;   
}
.eph-container .eph-dropdown #category{
    display: flex;
    margin: 3px 10em 1px 10em;
    justify-content: right;
    align-items: right;   
}
.eph-container .eph-header{
    margin: 1px 10em 1px 10em;
    height: 30vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
.chart{
    height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 200px;
    padding-bottom: 100px;   
}
.health-outcomes-container h1{
    height: 10vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

.chart{
    height: 60vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    z-index: 0;
}

.health-outcomes-container h2 {
  padding-top: 50px;
  
}
.health-outcomes-container li {
  padding-top: 2px;
}

.health-outcomes-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1em;
}


.container-column {
    flex: 1;
    padding: 20px 10px;
    padding-right: 50px;
    min-width: 200px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #E6E6FA;
}
.container-column:first-child {
    flex: 0.5;
}
.health-outcomes-container ul {
    list-style: none;
    padding: 0;
}
.health-outcomes-container li {
  text-align: left;
  text-indent: 1px;
  padding-bottom: 10px;
}
.health-outcomes-container a {
    text-decoration: none;
    color: #333;
}
.health-outcomes-container a:hover {
    color: #007bff;
}
/* Amrita - Added so the current tab in the sidebar is bold */
.health-outcomes-container li.active {
  font-weight: bold;
}
.close-button-left {
    color: darkblue;
    border: none;
    padding-top: 100px;
    font-size: 20px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
  }
.close-button:hover {
  background: #ff3333;
}
  

.timeseries {
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Search bar styles created by Al-Taimee*/
.health-outcomes-sidebar input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.health-outcomes-sidebar ul {
  list-style: none;
  padding: 0;
}

.health-outcomes-sidebar li {
  text-align: left;
  text-indent: 1px;
  padding-bottom: 10px;
}

.health-outcomes-sidebar a {
  text-decoration: none;
  color: #333;
}

.health-outcomes-sidebar a:hover {
  color: #007bff;
}

.health-outcomes-sidebar li.active {
  font-weight: bold;
}

/*List headings created by Al-Taimee*/
.boldHeadings {
  text-transform: uppercase;
  font-weight: bold;
}

/*Al-Taimee buttton to scroll on page */
.scroll-btn-container {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.scroll-btn {
  background-color: #7d3a8b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
}

.scroll-btn:hover {
  background-color: #7d3a8b;
}

.extraLink {
  color: blue;
  font-size: 10px;
  text-transform: lowercase;
}

/* Responsive Styles created by Al-Taimee*/
@media screen and (max-width: 800px) {
  .eph-national-container {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  .container-column {
    
    width: 95%;
    padding-bottom: 100px;
  }

  .health-outcomes-sidebar {
    margin-right: 0;
  }
}