.national-container{
    padding:2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.national-container .filter-container{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}


.national-container .selector {
    z-index: 100;

  }
 
  .national-container .selector ul {
    text-align: center;
    border-radius: 5px;
  }
 
  .national-container .selector li {
    display: inline-block;
    cursor: pointer;
    background: #efefef;
    color: #444;
    border: 1px solid #e2e2e2;
    padding: 14px 45px;
  }
 
  .national-container .selector li:first-child {
    border-radius: 7px 0 0 7px;
  }
 
  .national-container .selector li:last-child {
    border-radius: 0 7px 7px 0;
  }
 
  .national-container .selector li.active {
    background: #fff;
    font-weight: 600;
  }

  .national-container h1 {
    padding-top: 100px;
    font-size: 1.5rem;
  }

/* Amrita - Added formatting for health measures' description */
.eph-description {
  position: fixed;
  left: 25%;
  top: 70%;
  padding-top: 2em;
}

.eph-description-content {
  position: relative;
  margin-bottom: 3em;
  padding: 2em 30em 2em 2em;
  max-width: 45em;
  max-height: 2em;
  border: solid;
  border-radius: 1em;
  background-color: #CBC3E3;
  color: #800080;
}

  @media (min-width: 469px) {
    .national-container {
      height: auto;
      width: auto;
      display: block;
    }
    h1 {
      font-size: 2rem;
    }
    
  }

  @media (max-width: 2880px) {
    .national-container {
      width: 100%; 
      max-width: 100%; 
      position: static; 
    }
  }
