.national-container{
  padding:2%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.national-container .filter-container{
display: flex;
width: 100%;
justify-content: center;
gap: 20px;
}

.national-container .desc{
  padding-left: 10%;
  padding-right: 10%;

}

.national-container .time-series{
  align-items: center;
  justify-content: center;
}

.national-container .h1 {
  padding-top: 100px;
  font-size: 1.5rem;
}

@media (min-width: 469px) {
  .national-container {
    height: auto;
    width: auto;
    display: block;
  }
  h1 {
    font-size: 2rem;
  }
  
}

@media (max-width: 2880px) {
  .national-container {
    width: 100%; 
    max-width: 100%; 
    position: static; 
  }
}
