/*File written by Farzana Israt*/
.nation-mapView {
  /*
  width: 600px; 
  height: 300px; 
  position: relative;
  background: #fff;
  min-height: 100vh;
  padding: 0;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -10%);
  */
  
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin-left: 200px;
}



.nation-mapView h2 {
  margin-bottom: 20px; 
}



.mapView .legend {
  position: absolute;
  bottom: 100px;
  left: 1150px;
  margin-bottom: 166px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}


.nation-mapView.legend {
  position: absolute;
  bottom: 100px;
  left: 1150px;
  margin-bottom: 166px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

 
  .graph-container .filter-container .control-container {
    display: block;
  }

.nation-mapView .legend {
  position: absolute;
  bottom: 100px;
  left: 1150px;
  margin-bottom: 166px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.mapView .legend h3 {
  margin: 0;
  font-size: 16px;
  text-align: center;
}

/*Responsiveness of map legend and items creaated by Al-Taimee*/

.mapView .legend-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}


.mapView .legend-color {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.mapView .legend-item span {
  margin: 0;
}

@media (max-width: 768px) {
  
  .mapView {
    width: 100%;
    margin-left: 0;
  }

  .legend {
    left: 10px; 
    right: 10px; 
  }

  .legend h3 {
    font-size: 14px; 
  }

  .legend-item {
    margin: 3px 0; 
  }

  .legend-color {
    width: 16px; 
    height: 16px; 
    margin-right: 8px; 
  }
}

.mapDescription {
  position: relative;
  margin-right: 750px;
  top: -50px;

}

.measureDescription {
  /* Your styles for the description text */
}

.questionMark {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 700px; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  /*display: none; */
}

.questionMark:hover + .tooltip {
  display: block; 
  
}





  
/*
.tooltip {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
  }
  */
  .__react_component_tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
  }