.control-header {
  margin-top: 10px; /* Amrita - Added to make it appear more centered than at the top */
  flex: 0.6;  /* Amrita - Changed from 1 to keep filtering bar 1 line long for most searches */
  text-align: center;
  display: inline-block;
  background: #fafbfc;
}

.checkbox-group {
  display: flex;
  justify-content: space-around;
}

.control-container {
  flex: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: #fafbfc;
  padding-top: 3px;

  --primary: #9c27b0;
  --primary-light: #d05ce3;
  --primary-dark: #6a0080;
  --black: #3f3844;
}

.control-container .content {
  cursor: text;
  border-radius: 0 0 5px 5px;
  min-height: 30px;
  font-size: 18px;
}

/* Amrita - Formatting text on top of filters on TRI page */
.control-container .content p {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 2px;
}

.control-container .content input,
.control-container .content select {
  margin: 20px;
}

.control-container .content input[type="checkbox"] {
  position: relative;
  top: 3px;
  margin: 5px 10px;
}

.control-container .content select {
  padding-left: 3px;
  padding-right: 20px;
  font-size: 18px;
  max-width: 350px; /* Amrita - Added so filter bar does not get too big due size of content in drop-downs */
}

.control-container .checkbox-group {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
}

/* Amrita - Responsiveness for filter bar */
@media (max-width: 1340px) {
  .control-header h1 {
    font-size: 25px;
  }
  .control-header {
    flex: 0.4
  }
  .control-container .content p {
    margin-left: 10px;
  }
  .control-container .content select {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    max-width: 250px;
  }
  .control-container .content input,
  .control-container .content select {
    margin: 10px;
  }
  .control-container .checkbox-group {
    margin: 0px;
    padding-left: 10px
  }
}