/* Add these styles to your CSS file (e.g., index.css) */
.eph-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dcdcdc;
  }
  
  .eph-table th,
  .eph-table td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    padding-left: 50px;
    text-align: center;
  }
  
  .eph-table th {
    background-color: #f2f2f2;
  }
  
  .eph-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .eph-table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .percentile-50 {
    font-weight: bold;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
  }
  