.time-series-container {
    width: 100%; /* Use the full width of the parent container */
    height: 100%; /* Use the full height of the parent container */
    padding-left: 0%;
    padding-right: 20%;
  }

/* Amrita - Adjusts timeseries on Health Outcomes page */
.time-series {
  display: flex;
  justify-content: center;
}
  
  /* Add media queries for responsiveness */
  
  @media screen and (max-width: 600px) {
    /* Adjust styles for screens with a width up to 600 pixels */
    .time-series-container {
      width: 400px;
      height: 200px; /* Set a fixed height for smaller screens */
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    /* Adjust styles for screens with a width between 601 and 1200 pixels */
    .time-series-container {
      width: 500px;
      height: 300px; /* Set a different fixed height for medium-sized screens */
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 2000px) {
    /* Adjust styles for screens with a width between 601 and 1200 pixels */
    .time-series-container {
      width: 700px;
      height: 400px; /* Set a different fixed height for medium-sized screens */
    }
  }
    
  