.thematic-view-wrapper {
  position: relative;
}

/* Amrita - Adjusted so thematic map properly fits in with new layout */
.thematic-view-container {
  position: relative;
  display: flex;
  min-width: 640px;
  max-width: 50vw;
  /* margin: 100px auto; */
  flex-direction: column;
  margin: 30px;
}

.thematic-view-container .flex-item {
  flex: 1;
}

/* Amrita - Responsiveness for thematic maps on Summary Page */
@media (max-width: 1290px) {
  .thematic-view-container {
    min-width: 500px;
    max-width: 40vw;
    margin-bottom: 0px;
  }
}

@media (max-width: 1100px) {
  .thematic-view-container {
    min-width: 640px;
    max-width: 50vw;
  }
}

@media (max-width: 885px) {
  .thematic-view-container {
    min-width: 640px;
    max-width: 50vw;
  }
}

@media (max-width: 585px) {
  .thematic-view-container {
    min-width: 540px;
  }
}

@media (max-width: 480px) {
  .thematic-view-container {
    min-width: 540px;
  }
}

@media (max-width: 435px) {
  .thematic-view-container {
    min-width: 440px;
  }
}