.thematic-view-wrapper {
  position: relative;
  margin-top: 200px;
}

/* Amrita - Adjusted so thematic map properly fits in with new layout */
.thematic-view-container {
  position: relative;
  display: flex;
  min-width: 640px;
  max-width: 50vw;
  /* margin: 100px auto; */
  flex-direction: column;
  margin-left: 2em;
  margin-top: 2em;
}

.thematic-view-container .flex-item {
  flex: 1;
}
