.centered-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

.thematic-view-container .eph-flex-item h1 {
    text-align: center;
    margin-top: 50px;
    padding: 0;
}


  
.thematic-view-container .eph-flex-item h3 {
    text-align: center;
    color: grey;
}

.thematic-view-container{
    align-items: center;
    padding-left: 150px;
}