.centered-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

.eph-thematic-view-container .eph-flex-item h1 {
    text-align: center;
    margin-top: -30px;
    padding: 0;
}


  
.eph-thematic-view-container .eph-flex-item h3 {
    text-align: center;
    color: grey;
    margin-top: -50px;
}

.eph-thematic-view-container{
    align-items: center;
    margin: 0px auto;
}
