

.centered-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

.thematic-view-container .flex-item h1 {
    text-align: center;
    margin-top: 50px;
    padding: 0;
}


  
.thematic-view-container .flex-item h3 {
    text-align: center;
    color: grey;
}