.mapView {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
    min-height: 500px;
  }
  
  .geography-attributes {
    margin-bottom: 120px;
    font-size: 18px;
  }
  .mapView .legend {
    position: absolute;
    bottom: 0px;
    left: 700px;
    margin-bottom: 60px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .mapView .legend h3 {
    margin: 0;
    font-size: 16px;
    text-align: center;
  }
  
  .mapView .legend-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  
  .mapView .legend-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .mapView .legend-item span {
    margin: 0;
  }